.webcast-js {
	padding: 125px 10px 10px 10px;
	position: absolute;
	top:0; right: 0; bottom: 0; left: 0;
}
.video-js {
	float: left;
}
.webcast-js .wjs-slideshow {
	float:right;
	
}
.webcast-js .wjs-slideshow .wjs-slide {
	 /* CSS Shadows */
	-webkit-box-shadow: 0 2px 4px 0 #000; -moz-box-shadow: 0 2px 4px 0 #000; box-shadow: 0 2px 4px 0 #000;
}