.webcast-js {
	padding: 10px;
	position: absolute;
	top:0; right: 0; bottom: 0; left: 0;
	background: #3b3939 url(https://s3.amazonaws.com/wscontents-us1/2/6/613551413721721/assets/353/html5_background_land.jpg) repeat-x;
}
.video-js {
	float: left;
}
.webcast-js .wjs-slideshow {
	background: grey;
	float: right;
}
.webcast-js .wjs-slideshow .wjs-slide {
	 /* CSS Shadows */
  -webkit-box-shadow: 0 2px 4px 0 #000; -moz-box-shadow: 0 2px 4px 0 #000; box-shadow: 0 2px 4px 0 #000;
}