.webcast-js {
	position: absolute;
	top: -10px;
	left: -10px;
	z-index: -1;
	background: #3b3939 url(https://s3.amazonaws.com/wscontents-us1/2/6/613551413721721/assets/353/html5_background_land.jpg) repeat-x;
}
.wjs-slideshow:-webkit-full-screen {
	display: none;
}
.webcast-js .wjs-slideshow {
	position: absolute;
	top: 10px;
	right: 10px;
}
.webcast-js .wjs-slideshow .wjs-slide {
	 /* CSS Shadows */
  -webkit-box-shadow: 0 2px 4px 0 #000; -moz-box-shadow: 0 2px 4px 0 #000; box-shadow: 0 2px 4px 0 #000;
}